html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#load_panel, #save_controls {
    text-align: left;
}
#load_panel label, #save_controls label {
    margin-right: 5px;
}
input {
    max-width: 150px;
}
#play_controls label {
    float: left;
    clear: left;
}
#play_controls input.checkbox {
    float: right;
    clear: right;
}
#pause {
    display: none;
}
div#log_control button {
    clear: none;
}
div#playControls {
    text-align: center;
    padding: 0 0 10px 0;
}
div#playControls button#play {
    margin-right: 5px;
}

canvas {
    cursor: none;
}
span#tempMessage {
    color: red;
    bottom: 0px;
    position: absolute;
    right: 0px;
    display: none;
    font-size: 40pt;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    font-family: monospace;
}

/*
#dpad {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 25%;
}
#buttonUp {
  position: absolute;
  left: 50px;
  bottom: 100px;
  width: 50px;
}
#buttonDown {
  position: absolute;
  left: 50px;
  bottom: 0px;
  width: 50px;
}
#buttonLeft {
  position: absolute;
  left: 0px;
  bottom: 50px;
  width: 50px;
}
#buttonRight {
  position: absolute;
  left: 100px;
  bottom: 50px;
  width: 50px;
}
#buttonStart {
  position: absolute;
  left: 0px;
  bottom: 150px;
  width: 50px;
}
#buttonSelect {
  position: absolute;
  left: 100px;
  bottom: 150px;
  width: 50px;
}
#buttonA {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 50px;
}
#buttonB {
  position: absolute;
  right: 0px;
  bottom: 50px;
  width: 50px;
}
#buttonR {
  position: absolute;
  right: 0px;
  bottom: 150px;
  width: 50px;
}
#buttonL {
  position: absolute;
  right: 100px;
  bottom: 150px;
  width: 50px;
}
*/

/** NEW SHINY STYLE **/

body{
    background: #0099FF;
}

#main{
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

#control_panel{
    display: flex;
}

.btn{
    background: #F7F7F7;
    font-size: 16px;
    padding: 1em;
    color: #999;
    border: none;
    text-align: center;
    border-radius: 2px;
    box-sizing: content-box;
}

#dPad td {
    padding:0; margin:0;
}

#dPad {
    border-collapse: collapse;
}
.dPadBtn{
    width: 1em;
    height: 1em;
    line-height: 1em;
}
.dPadMiddle{
    background: #F7F7F7;
}
.triggerBtn{
    width: 3em;
}
.actionBtn{
    font-size: 1.4em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-weight: bold;
}
#buttonA{
    margin: 0 15px -15px 0;
}
#buttonB{
    margin: -15px 15px 0 0;
}

#gba{
    display: flex;
    flex:1;
}
#center{
    flex: 3;
    display: flex;
    background: #333;
    justify-content: center;
    align-items: center;
    position: relative;
}
#center canvas{
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.controls{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftControls{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#rightControls{
    display: flex;
    flex-direction: column;
    flex: 1;
}